<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <appSettings>
    <add key="NotifEyeAPIEndpoint" value="http://35.164.241.0/json/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="NotifEyeIntegratedAPIEndpoint" value="http://35.164.241.0:8083/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MicroServiceAPIEndpoint" value="http://localhost:82/api/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTPHost" value="smtp.office365.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTPPort" value="587" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTPUserName" value="jignesh@trivediat.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTPPassword" value="Trivedihem2018" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTPFromAddress" value="jignesh@trivediat.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMTPFromName" value="Cooper Atkins" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CC" value="amar@trivediat.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="CooperAtkinEntities" connectionString="data source=TRIVEDISERVER\SQLEXPRESS;initial catalog=CooperAtkins10;integrated security=False;User Id= Jignesh;Password= Cooper@123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>